$primary-color: #4baa53;
$navbar-font-size: 18px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: $primary-color;
}

.navbar,
.btn {
  font-size: $navbar-font-size;
}

.navbar-nav .nav-item {
  margin: 0 70px;
}

.navbar-brand {
  font-size: 25px;
  font-weight: bold;
  padding: 1rem;
}

.navbar-nav li:hover,
.navbar-nav .nav-link:hover,
.navbar-toggler-icon:hover,
.dropdown-item:hover,
.navbar-brand:hover {
  background-color: white;
  transform: scale(1.1);
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.3s;
}

.input-group-custom {
  background-color: #f5f5f5;

  input[type="text"] {
    background-color: transparent;
    border: #000000;
    border-radius: 0;
  }
}

.image-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding: 30px 0;
  margin: 10px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
}

.image-text {
  color: #000000;
  text-decoration: none;
}